<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>{{ isEdit ? 'Editar' : 'Agregar'}} receta</h1>
  <div mat-dialog-content>
    <div class="container">
      <div class="row">
        <mat-form-field class="col-12">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name">
          <button mat-button *ngIf="name.value" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="name.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="name.invalid">El nombre es obligatorio</mat-error>
        </mat-form-field>

        <div class="col-12">
          Ingredientes
          <table mat-table [dataSource]="dataSource">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID. </th>
              <td mat-cell *matCellDef="let element"> {{element.ingredient}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.ingredientName}} </td>
            </ng-container>

            <!-- Amount Column -->
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> Cantidad </th>
              <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
            </ng-container>

            <!-- Unit Column -->
            <ng-container matColumnDef="unit">
              <th mat-header-cell *matHeaderCellDef> Unidad de medida </th>
              <td mat-cell *matCellDef="let element"> {{element.unitAbbreviation}} </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Acción </th>
              <td mat-cell *matCellDef="let row">
                <button mat-mini-fab color="warn" type="button" class="mr-2" (click)="onDeleteIngredient(row)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-mini-fab color="primary" type="button" (click)="onEditIngredient(row)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-list role="list">
            <mat-list-item id="add-ingredient" role="listitem" (click)="onAddIngredient()">
              <mat-icon>add</mat-icon> Agregar Ingrediente
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="d-flex float-right">
    <button mat-button (click)="onNoClick()" type="button">Cancelar</button>
    <button mat-button color="primary" type="submit" cdkFocusInitial>Guardar</button>
  </div>
</form>
