<div class="container mt-3">
  <div class="row">
    <h1 class="mr-auto">Recetas</h1>
    <button mat-mini-fab color="primary" *ngIf="isLogin" (click)="openAddRecipeDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<mat-accordion class="example-headers-align">
  <mat-expansion-panel hideToggle *ngFor="let recipe of recipesVM">
    <mat-expansion-panel-header>
      <mat-panel-title class="d-flex align-items-center"
        [class.price-error]="recipe.price !== recipe.calculatedIngredientsPrice">
        {{ recipe.name }}
      </mat-panel-title>
      <mat-panel-description>
        <span *ngIf="recipe.price === recipe.calculatedIngredientsPrice">
          Precio: {{ recipe.price | currency }}
        </span>
        <span *ngIf="recipe.price !== recipe.calculatedIngredientsPrice">
          Precio Guardado: {{ recipe.price | currency }} <br>
          Precio Calculado: {{ recipe.calculatedIngredientsPrice | currency }}
        </span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    Ingredientes:
    <table mat-table [dataSource]="recipe.ingredientDataSource">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let element"> {{element.ingredient}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.ingredientName}} </td>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} {{ element.unitAbbreviation }} </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let element"> {{element.price  | currency}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-action-row *ngIf="isLogin">
      <button mat-button color="warn" (click)="deleteRecipe(recipe)">Borrar</button>
      <button mat-raised-button (click)="editRecipe(recipe)">Editar</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
