<form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>{{ isEdit ? 'Editar' : 'Agregar'}} ingediente</h1>
  <div mat-dialog-content>
    <div class="container">
      <div class="row">

        <mat-form-field class="col-12">
          <mat-label>Ingrediente</mat-label>
          <mat-select formControlName="ingredient">
            <mat-option *ngFor="let ingredient of dataIngredients" [value]="ingredient.id">{{ingredient.name}}
            </mat-option>
          </mat-select>
          <button mat-button *ngIf="ingredient.value" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="ingredient.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="unit.invalid">La unidad de medida es obligatoria</mat-error>
        </mat-form-field>
        <mat-form-field class="col-6">
          <mat-label>Unidad de medida</mat-label>
          <mat-select formControlName="unit">
            <mat-option *ngFor="let unit of dataIngredientsUnits" [value]="unit.id">{{unit.name}}</mat-option>
          </mat-select>
          <button mat-button *ngIf="unit.value" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="unit.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="unit.invalid">La unidad de medida es obligatoria</mat-error>
        </mat-form-field>
        <mat-form-field class="col-6">
          <mat-label>Cantidad</mat-label>
          <input matInput formControlName="amount" type="number">
          <button mat-button *ngIf="amount.value" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="amount.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="amount.invalid">La cantidad es obligatoria</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="d-flex float-right">
    <button mat-button (click)="onNoClick()" type="button">Cancelar</button>
    <button mat-button color="primary" type="submit" cdkFocusInitial>Guardar</button>
  </div>
</form>
