@import '../../../../assets/styles/variables';

nav {
  background-color: $primary-color;

  a {
    color: aliceblue !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
