<div class="container mt-3">
  <div class="row">
    <h1 class="mr-auto">Ingredientes</h1>
    <button mat-mini-fab color="primary" *ngIf="isLogin" (click)="openAddIngredientDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<mat-accordion class="example-headers-align">
  <mat-expansion-panel hideToggle *ngFor="let ingredient of ingredients">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ ingredient.name }}
      </mat-panel-title>
      <mat-panel-description>
        {{ ingredient.price | currency: '' : 'symbol' : '1.0-0' }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    {{ ingredient.unit }}

    <mat-action-row>
      <button mat-button color="warn" (click)="deleteIngredient(ingredient)">Borrar</button>
      <button mat-raised-button (click)="editIngredient(ingredient)">Editar</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
